<!DOCTYPE html>
<html ng-app="blocitoff">
<head lang="en">
    <meta charset="UTF-8">
    <title>Blocitoff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <!-- AngularFire -->
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBIr6RGbix06XrrK_9BL4Ndci34g-qUnYc",
            authDomain: "blocitoff-f7b99.firebaseapp.com",
            databaseURL: "https://blocitoff-f7b99.firebaseio.com",
            projectId: "blocitoff-f7b99",
            storageBucket: "",
            messagingSenderId: "491770433076"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.js"></script>
</head>
<body>

   

    
    <div id="divWrapper">
        <div class="container">
            <div class="divHeader">
                <h2>Current Tasks</h2>
            </div>
            <div class="divContent">
                <div ng-controller="HomeCtrl">
                    <table class="table table-striped">
                        <tbody>
                            <tr><input type="text" placeholder="Add New Task" ng-model="newTask">
                            <select class="custom-select" ng-model="$scope.priority">
                                <option selected>Task Priority</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                </select>
                            <button class="btn btn-sucess" ng-click="addTask()">New Task</button>
                            <tr ng-repeat="taskObject in tasks" ng-show="!taskObject.expired && !taskObject.completed">
                      
                                <td>{{ taskObject.name }}<button ng-click="complete(taskObject)" ng-model="newTask">Complete</button></td>
                            </tr>
                            <tr class="strikethrough" ng-repeat="taskObject in completedTasks" ng-hide="completed">
                                <td> {{ taskObject.name }}</td>
                            </tr>
                        </tbody>
                    </table>
        
                 
                    
                    <div>
                        <a data-text-swap="Hide Completed Tasks" ng-click="toggle()">Show Completed Tasks</a>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>



   
       




    <!-- Application Files -->
    <script src="/scripts/app.js"></script>
</body>
</html>
